<div>
  <form>
    <h1>Registro de Produto</h1>
    <div>
      <label for="ID">Id</label>
      <input type="text" name="ID" id="ID">
      <label for="Name">Nome</label>
      <input type="text" name="Name" id="Name">
    </div>
    <div>
      <label for="Description">Descrição</label>
      <textarea type="text" name="Description" id="Description"></textarea>
    </div>
    <div>
      <label for="Price">Preço</label>
      <input type="text" name="Price" id="Price">
      <label for="Quantity">Quantidade</label>
      <input type="text" name="Quantity" id="Quantity">
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>

